# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/HT1_IPC2/nbproject/private/
/HT1_IPC2/build/
/BibliotecaWeb/nbproject/private/
/BibliotecaV2/nbproject/private/
/BibliotecaV1/nbproject/private/